<<<<<<< HEAD
<div class="container center-align">
  <h1 class="ForOhFor">404 : RESOURCE NOT FOUND</h1>>
=======
<div class="container center-align">
  <h1 class="ForOhFor">404 : PAGE NOT FOUND</h1>>
>>>>>>> 93ec6d8d424fcd8adfe20ecfa9d7e372529365a8
</div>