<div class="container center-align">
  <div class="row">
    <form class="col s12" id="searchForm">
      <div class="row">
        <div class="input-field col s12 valign-wrapper">
          <i class="material-icons prefix">search</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Book Name...</label>
          <button class="btn waves-effect waves-light red" id="btnSearch" type="submit" name="search">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>